@theme {
    --color-teal: #018987;    /* Teal */
    --color-aqua: #0ac4b1;   /* Aqua */
    --color-magenta: #f905fc;  /* Magenta */
    --color-blue: #225be0;   /* Blue */
    --color-gray: #acb5b2;  /* Gray */
    --color-light-gray: #d9d9d6;
    --color-navy: #153357;
    --color-red: #ff6c74;

    --breakpoint-max: 1080px;
    --container-max: 1080px;

    --font-primary:  'Courier Prime', monospace;
    --font-secondary: 'Share Tech Mono', monospace;
    --font-auxiliary: 'VT323', monospace;

    --animate-gradient-30: gradient 30s ease infinite;
    --animate-gradient-120: gradient 120s ease infinite;
    --animate-glow: glow 5s ease-in-out infinite;
    --animate-scanline: scanline 10s linear infinite;
}